@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;1,9..40,400&display=swap');

@layer base {
  body {
    @apply bg-[#09090b] text-neutral-50;
  }
}